body {
  width: 400px;
  margin: 20px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #ccc;
  align-items: center;
  justify-content: center;
}

.result {
  grid-column: 1/5;
  text-align: right;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #858693;
  color: #fff;
  cursor: pointer;
}

.zero {
  grid-column: 1/3;
  text-align: center;
  padding: 10px;
  border: 1px solid #bababa;
  cursor: pointer;
}

.btn {
  padding: 20%;
  text-align: center;
  cursor: pointer;
  border: 1px solid #bababa;
}

.symbol-color {
  background-color: #f5913e;
}
