
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.4;
  color: #333;
  background: #52b788;
  height: 100vh;
}

.Calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(6, 1fr);
  width: 500px;
  gap: 1px;
  padding: 1rem;
}

.input {
  grid-column: span 4;
  background-color: #40916c;
  justify-content: flex-end;
  padding: 0 0.5rem;
  border: 1px solid black;
}

.zero {
  grid-column: span 2;
}

span {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: #370617;
}

.orange {
  background-color: #b7e4c7;
  border: 1px solid black;
}

.orange:hover {
  background-color: #40916c;
  border: 1px solid black;
}

.orange:active {
  background-color: #40916c;
  border: 1px solid black;
}

.header {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style: none;
}

.nav li {
  margin-right: 0.5rem;
  border-right: 1px solid rgb(51, 51, 51);
  padding-right: 0.5rem;
}

.active-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.App {
  padding: 0 2rem;
}

.calculator-page {
  display: flex;
  justify-content: space-between;
  margin: 5rem;
}

.Quote {
  margin-top: 5rem;
}

.about {
  margin-top: 5rem;
  font-size: x-large;
}
